<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>기본 페이지</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <input id="placeNameInput" type="text" placeholder="장소 이름 입력" />
    <button id="saveBtn">저장</button>
    <button id="showSaveBtn">목록 보기</button>
    <div id="saveListArea"></div>
    {% include "header.html" %}
    <main>
      <h1>메인 페이지</h1>
    </main>
    {% include "test.html" %} {% include "footer.html" %}
  </body>
</html>
