<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title>네이버 API 테스트</title>
    <script
      type="text/javascript"
      src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId=ra4y2dvddo&amp;submodules=panorama,geocoder,drawing,visualization"
    ></script>
    <script type="text/javascript" src="../static/js/junbo.js"></script>
  </head>
  <style>
    .map {
      width: 100%;
      height: 700px;
    }
    .marker {
      padding: 10px;
    }
  </style>
  <body>
    <div>
      <!-- <form action="">
        <input type="text" placeholder="위치" />
      </form> -->
    </div>
    <div class="map" id="map"></div>
  </body>
  <script>
    const pos = {};

    var latlng = new naver.maps.LatLng(37.549186395087, 127.07505567644); // 세종대 위치 (처음 지도에서 표시되는 위치)

    /**
     * center: 맵의 중심을 어디에 위치시킬건지
     * zoomControl: 사용자에게 지도 확대 축소 기능 열어줄건지
     * zoom: 지도의 처음 배율
     */
    var mapOptions = {
      center: new naver.maps.LatLng(latlng.lat(), latlng.lng()),
      zoomControl: true,
      zoom: 16,
    };
    var map = new naver.maps.Map("map", mapOptions);

    navigator.geolocation.getCurrentPosition(
      (position) => {
        // 현재 위치 정보 받아오기
        latlng = new naver.maps.LatLng(
          position.coords.latitude,
          position.coords.longitude
        );
        console.log("현재 위치 : " + latlng.lat() + ", " + latlng.lng());
        map.setCenter(latlng); // 비동기 처리때문에 넣은 임시 코드
      },
      () => {
        console.log("현재 위치 정보를 가져올 수 없습니다.");
      }
    );

    marker = null;
    naver.maps.Event.addListener(map, "click", function (e) {
      latlng = e.coord;

      if (marker) {
        marker.setMap(null); // 마커 초기화
      }

      marker = new naver.maps.Marker({
        position: latlng,
        map: map,
      });
      // hidden -> show

      naver.maps.Service.reverseGeocode(
        {
          coords: latlng,
          orders: [
            naver.maps.Service.OrderType.ADDR,
            naver.maps.Service.OrderType.ROAD_ADDR,
          ].join(","),
        },
        function (status, response) {
          console.log(response);
          var address = response.v2.address.roadAddress
            ? response.v2.address.roadAddress
            : response.v2.address.jibunAddress;
          var info = new naver.maps.InfoWindow({
            content:
              '<div class="marker">위도: ' +
              latlng.lat().toFixed(6) +
              "<br>경도: " +
              latlng.lng().toFixed(6) +
              "<br>" +
              address +
              "</div>",
          });
          info.open(map, marker); // 정보 박스
          // 폼 태그 -> 저장버튼 hidden 되어있던 폼 or 박스를 show 해서 여기서 잠시 대기

          // case-work) 저장 버튼을 누르면 pos이 로컬 스토리지에 저장됨.
          const markerObj = {
            lat: latlng.lat(),
            lng: latlng.lng(),
            address: address /**, "place_name":name*/,
          }; // name은 오른쪽 박스에서 사용자가 입력한 장소 이름
          console.log(markerObj);
          saveMarkerToLocalStorage(markerObj);
          //pos junbo.js에 함수에 넣어서 local스토리지에 저장 되도록 하기
        }
      );
    });
  </script>
</html>

<!--
태경님이 만들어주실 map, savePlace
이 map에다가 hidden을 넣어서 옆에 box 를 생성 
-> box에서 이름을 적고 저장 버튼을 누르면 local스토리지에 저장 
-> local스토리지에 저장된 것은 다른 savePlace html에 저장 
-> savePlace를 누르면 출력하고 -> 기본 목표 

-> savePlace에서 지도에 표시 버튼을 누르면latlng를 이용해서 마커로 표시 -> 추가 할일 

-> 좋아요 버튼 표시?? 즐겨찾기?? -> 추가 할일 

-->
